@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Sour+Gummy:wght@400;600;700&family=Nunito:wght@400;600;700&display=swap');


/* ── COLOURS ── */
:root {
  --green:            #385241;
  --green-mid:        #4e825c;
  --green-pastel:     #a8c9a8;
  --green-light:      #b5d1b5;
  --green-very-light: #e2f0e2;
  --white:            #ffffff;
  --text:             #262e28;
  --muted-green:      #85a48d;
  --yellow-pastel:    #fde290;
  --yellow-dark:      #c29130;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sour Gummy', sans-serif;
  background: var(--green-very-light);
  color: var(--text);
}

/* ── NAVBAR ── */
.navbar {
  background: var(--white);
  border-bottom: 8px solid var(--green-pastel);
  padding: 0 32px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-text {
  font-family: 'DynaPuff', sans-serif;
  font-size: 45px;
  font-weight: 900;
  color: var(--green);
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-link {
  background: none;
  border: none;
  padding: 8px 16px;
  border-radius: 50px;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  cursor: pointer;
}

.nav-link:hover,
.nav-link.active {
  background: var(--green-light);
  color: var(--green);
}

.nav-profile {
  background: var(--green-light);
  border: 4px solid var(--green);
  border-radius: 50px;
  padding: 8px 18px;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
  cursor: pointer;
}

/* ── Signup Box ── */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-content {
  background: linear-gradient(135deg, var(--green) 0%, var(--green-mid) 100%);
  margin: 28px 32px;
  border-radius: 24px;
  padding: 56px 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
}

.signup-heading {
  font-family: 'Sour Gummy', serif;
  font-size: 50px;
  color: var(--white);
  line-height: 1.1;
  margin-bottom: 15px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.signup-form label {
  color: rgb(218, 218, 218);
  font-size: 16px;
}

.signup-form input {
  padding: 14px 16px;
  border-radius: 16px;
  border: 3px solid var(--green-dark);
  background: var(--white);
  font-size: 15px;
  font-family: inherit;
  outline: none;
  transition: all 0.2s ease;
}

.signup-form input::placeholder {
  color: #999;
}

.signup-btn {
  background: var(--yellow-pastel);
  color: var(--text);
  border: 6px solid var(--yellow-dark);
  border-radius: 50px;
  padding: 14px 32px;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.signup-btn:hover {
  opacity: 0.9;
}
